.title {
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.text {
    margin-top: 14px;
    margin-left: 10px;
    vertical-align: middle;
}

.contact {
    margin: 5px;
    font-size: small;
    color: gray;
    text-decoration: none;
}

.contact:hover {
    text-decoration: underline;
}