<div class="title">
    <img src="https://i.imgur.com/1SnJoLu.png" width="49" height="64">
    <div class="text left">Political Atlas of the Verge</div>
    <form class="example-form middle search" spellcheck="false">
        <mat-form-field class="example-full-width" [style.fontSize.px]=17>
          <mat-label><i class="fas fa-search"></i> Search</mat-label>
          <input
          type="text"
          aria-label="search box"
          [matAutocomplete]="auto"
          matInput
          [formControl]="searchFormControl"
          (ngModelChange)="updatedVal($event)"
          >
          <button mat-button *ngIf="showClear" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value" [ngClass]="{'hide-autocomplete': !showAutoComplete}" (click)="optionClicked(option)">
              {{option.value}}
            </mat-option>
        </mat-autocomplete>
        </mat-form-field>
    </form>
    <span class="right">
      <div>
        <div class="right">
          <a class="contact" href="https://discord.com/channels/@me/605098019033186356" target="_blank">Contact</a>
          <a class="contact" href="https://github.com/BrettlesSr/roas-ang-map" target="_blank">GitHub</a>
        </div>
        <div class="right">
          <button mat-button (click)="openAddHistory()"><i class="fas fa-book"></i>    Add New History</button>
          <button mat-button (click)="openAddTerritory()"><i class="fas fa-globe-americas"></i>    Add New Colony</button>
          <button mat-button (click)="openAddPolity()"><i class="fas fa-atlas"></i>    Add New Polity</button>
          <button mat-button (click)="openAddStar()"><i class="fas fa-star"></i>    Add New Star System</button>
          <button mat-button (click)="openEditStars()"><i class="fas fa-star"></i>    Remap All Star Systems</button>
        </div>
      </div>      
    </span>
</div>
