.tab-content {
    margin: 10px;
}

.title {
    font-size: large;
    margin: 10px;
    margin-bottom: 20px;
}

a:link {
    font-size: larger;
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    font-size: larger;
    color: black;
    text-decoration: underline;
}

.image-container {
    width:100%;
    max-height:240px;
    overflow: hidden;
}

img {
    min-width:100%;
}