<mat-tab-group *ngIf="starInfo" mat-align-tabs="center">
    <mat-tab label="{{starInfo.name}}">

        <div *ngIf="starInfo.thumbnail && starInfo.thumbnail.length > 0" class="tab-content">
            <img src="{{starInfo.thumbnail}}" width=480px class="thumbnail">
        </div>

        <div *ngIf="filteredTerritories && filteredTerritories.length > 0" class="title">
            Territories In {{starInfo.name}}
        </div>

        <div *ngFor="let territory of filteredTerritories" class="tab-content">

            <div>
                <div class="fake-external-link-large" (click)="openPolity(territory.owner)">{{territory.name}}</div>
            </div>

            <div *ngIf="territory.thumbnail && territory.thumbnail.length > 0">
                <img src="{{territory.thumbnail}}" width="480px" class="thumbnail">
            </div>

            <div>
                {{shortened(territory.description, 200)}}
            </div>

            <div>
                <mat-chip-list>
                    <mat-chip color="primary" (click)="openPolity(territory.owner)" class="link-chip">
                        Go to owner →
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-tab>

    <mat-tab label="History" *ngIf="orderedHistory && orderedHistory.length > 0">

        <div class="title">
            History Of {{starInfo.name}}
        </div>

        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let history of orderedHistory" class="tab-content">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a *ngIf="history.threadlink" href="{{history.threadlink}}" target="_blank"
                            class="external-link-large">{{getHistoryDescriptor(history.name, history.date)}} <i
                                class="fas fa-external-link-alt fa-xs"></i></a>
                        <div *ngIf="!history.threadlink" class="non-link">{{getHistoryDescriptor(history.name,
                            history.date)}}</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="history.thumbnail && history.thumbnail.length > 0">
                    <img src="{{history.thumbnail}}" width="460px" class="thumbnail">
                </div>
                <div>
                    {{history.description}}
                </div>
                <div>
                    <mat-chip-list>
                        <mat-chip *ngFor="let polity of history.politiesInvolved" color="primary"
                            (click)="openPolity(polity)" class="link-chip"> {{polity}}</mat-chip>
                        <mat-chip (click)="openAddPolityToHistoryModal(history)" color="primary" class="link-chip">Add
                            missing</mat-chip>
                    </mat-chip-list>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-tab>

    <mat-tab label="Trade" *ngIf="starInfo.nodesPresent > 0">

        <div class="title">
            {{starInfo.name}} Trade Nodes
        </div>

        <div class="tab-content">
            <div>
                <div class="non-link">Trade Node</div>
            </div>
            <div *ngIf="starInfo.nodesPresent > 1">
                This system contains {{starInfo.nodesPresent}} Trade Nodes.
                Access to it increases the effective available trade volume of a system by +{{starInfo.nodesPresent * 100}}%.
            </div>
            <div *ngIf="starInfo.nodesPresent === 1">
                This system contains {{starInfo.nodesPresent}} Trade Node.
                Access to it increases the effective available trade volume of a system by +{{starInfo.nodesPresent * 100}}%.
            </div>
        </div>

    </mat-tab>

</mat-tab-group>