<mat-tab-group *ngIf="starInfo" mat-align-tabs="center">
    <mat-tab label="{{starInfo.name}}">

        <div *ngIf="starInfo.thumbnail.length > 0" class="tab-content" class="image-container">
            <img src="{{starInfo.thumbnail}}" width=480px>
        </div>

        <div *ngIf="starInfo.polities && starInfo.polities.length > 0"  class="title">
            Polities Of {{starInfo.name}}
        </div>
        
        <div *ngFor="let polity of starInfo.polities" class="tab-content">

            <div>
                <a href="{{polity.threadlink}}" target="_blank">{{polity.title}} <i class="fas fa-external-link-alt fa-xs"></i></a>
            </div>
            <div class="image-container">
                <img src="{{polity.thumbnail}}" width=480px>
            </div>
            <div>
                {{polity.description}}
            </div>
        </div>

    </mat-tab>
    <mat-tab label="History" *ngIf="starInfo.history && starInfo.history.length > 0">

        <div class="title">
            History Of {{starInfo.name}}
        </div>

        <div *ngFor="let history of starInfo.history" class="tab-content">

            <div>
                <a href="{{history.threadlink}}" target="_blank"> {{getHistoryDescriptor(history.title, history.date)}}<i class="fas fa-external-link-alt fa-xs"></i></a>
            </div>
            <div class="image-container">
                <img src="{{history.thumbnail}}" width=480px>
            </div>            
            <div>
                {{history.description}}
            </div>
        </div>

    </mat-tab>
    <mat-tab label="UN Taskforces" *ngIf="starInfo.unTaskforces && starInfo.unTaskforces.length > 0">

        <div class="title">
            UN Taskforces based in {{starInfo.name}}
        </div>

        <div *ngFor="let taskforce of starInfo.unTaskforces" class="tab-content">

            <div>
                <a href="{{taskforce.threadlink}}" target="_blank">{{taskforce.title}}<i class="fas fa-external-link-alt fa-xs"></i></a>
            </div>
            <div class="image-container">
                <img src="{{taskforce.thumbnail}}" width=480px>
            </div>            
            <div>
                {{taskforce.description}}
            </div>
        </div>

    </mat-tab>
  </mat-tab-group>
