.tab-content {
    margin: 10px;
}

.title {
    font-size: large;
    margin: 10px;
    margin-bottom: 20px;
}

.non-link {
    font-size: larger;
    color: black;
    text-decoration: none;
}

.link-chip{
    cursor: pointer;
}