<mat-tab-group *ngIf="polityInfo" mat-align-tabs="center">
    <mat-tab label="State">

        <div>
            <a *ngIf="polity.threadlink" href="{{polity.threadlink}}" target="_blank">{{polity.name}} <i class="fas fa-external-link-alt fa-xs"></i></a>
            <div *ngIf="!polity.threadlink" class="non-link">{{polity.name}}</div>
        </div>
        <div class="image-container">
            <img src="{{polity.thumbnail}}" width="480px">
        </div>
        <div>
            {{polity.description}}
        </div>

    </mat-tab>

    <mat-tab label="Territories">

        <div *ngIf="filteredTerritories && filteredTerritories.length > 0"  class="title">
            Territories In {{polity.name}}
        </div>
        
        <div *ngFor="let territory of filteredTerritories" class="tab-content">

            <div>
                <a *ngIf="territory.threadlink" href="{{territory.threadlink}}" target="_blank">{{territory.name}} <i class="fas fa-external-link-alt fa-xs"></i></a>
                <div *ngIf="!territory.threadlink" class="non-link">{{territory.name}}</div>
            </div>
            <div class="image-container">
                <img src="{{territory.thumbnail}}" width="480px">
            </div>
            <div>
                {{getTerritoryDescriptor(territory)}}
            </div>
            <div>
                Star system: 
                <mat-chip-list>
                    <mat-chip color="primary" (click)="openStar(territory.star)"> {{territory.star}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-tab>

    <mat-tab label="History" *ngIf="orderedHistory && orderedHistory.length > 0">

        <div class="title">
            History Of {{polity.name}}
        </div>

        <div *ngFor="let history of orderedHistory" class="tab-content">

            <div>
                <a *ngIf="history.threadlink" href="{{history.threadlink}}" target="_blank">{{getHistoryDescriptor(history.name, history.date)}} <i class="fas fa-external-link-alt fa-xs"></i></a>
                <div *ngIf="!history.threadlink" class="non-link">{{getHistoryDescriptor(history.name, history.date)}}</div>
            </div>
            <div class="image-container">
                <img src="{{history.thumbnail}}" width="460px">
            </div>            
            <div>
                {{history.description}}
            </div>
            <div>
                <mat-chip-list>
                    <mat-chip *ngFor="let polity of history.politiesInvolved" color="primary" (click)="openPolity(polity)"> {{polity}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-tab>
    
  </mat-tab-group>