<h1 mat-dialog-title cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle><i class="fas fa-globe-americas"></i> Add new colony</h1>
<div mat-dialog-content>

  <div>
    <mat-form-field>
      <mat-label>Territory name</mat-label>
      <input matInput required [(ngModel)]="territory.name">
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-label>Territory description</mat-label>
      <input matInput [(ngModel)]="territory.description">
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
    <mat-label>Link to thread</mat-label>
    <input matInput [(ngModel)]="territory.threadlink">
  </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-label>Image link</mat-label>
      <input matInput [(ngModel)]="territory.thumbnail">
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-label>Owner</mat-label>
      <mat-select required [(value)]="territory.owner">
        <input
          type="text"
          aria-label="search box"
          matInput
          class="mat-select-search-input"
          (keyup)="politySearchChanged($event)">  
        <mat-option *ngFor="let polity of data.possibleOwners" [value]="polity.name" [ngStyle]="{ display : isPolityVisible(polity.name) ? '' : 'none' }">
          {{polity.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>  

  <div>
    <mat-form-field>
      <mat-label>Star</mat-label>
      <mat-select required [(value)]="territory.star">
        <input
          type="text"
          aria-label="search box"
          matInput
          class="mat-select-search-input"
          (keyup)="starSearchChanged($event)">  
        <mat-option *ngFor="let star of data.possibleStars" [value]="star.name" [ngStyle]="{ display : isStarVisible(star.name) ? '' : 'none' }">
          {{star.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>  

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!isValid" [mat-dialog-close]="territory" cdkFocusInitial>Add</button>
</div>