<app-title [parent]="this" #titleChild></app-title>

<img src="https://i.imgur.com/KX4Etcm.png" class="notice" width="230" height="84" (click)="dismissNotification()" (mouseover)="dismissNotification()" *ngIf="displayNotification">

<button *ngIf="mapUrls.length > 1" class="fab" mat-fab color="primary" (click)="bumpMapIndex()">
  <mat-icon>donut_small</mat-icon>
</button>
<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="sidenav-fixed" mode="side" position="end">
    <app-star-info
      *ngIf = "mode === 0"
      [starInfo]="activeStar"
      [parent]="this">
    </app-star-info>
    <app-polity-info
    *ngIf = "mode === 1"
    [polityInfo]="activePolity"
    [parent]="this">
    </app-polity-info>
    <app-region-info
    *ngIf = "mode === 2"
    [regionInfo]="activeRegion">
    </app-region-info>
  </mat-drawer>

  <pan-zoom [config]="panZoomConfig">
    <div style="position: relative;">
      <img src="{{mapUrls[mapIndex]}}" width="{{mapDimension}}" height="{{mapDimension}}" usemap="#starmap">    
      <map name="starmap">
        <area *ngFor="let star of allStars" shape="rect" coords="{{star.xStart}}, {{star.yStart}}, {{star.xEnd}}, {{star.yEnd}}" alt="{{star.name}}" (click)="openDrawerToStar(star.name)">
        <area *ngFor="let region of allRegions" shape="rect" coords="{{region.xStart}}, {{region.yStart}}, {{region.xEnd}}, {{region.yEnd}}" alt="{{region.name}}" (click)="openDrawerToRegion(region.name)">
        <area shape="rect" coords="0,0,{{mapDimension}},{{mapDimension}}" (click)="closeDrawer()"> 
      </map>
      <div
        class="highlight"
        [ngStyle]="highlightDimensionsCss">
      </div>
    </div>    
  </pan-zoom>  
  
</mat-drawer-container>
