<app-title [parent]="this" #titleChild></app-title>

<img src="https://i.imgur.com/KX4Etcm.png" class="notice" width="230" height="84" (click)="dismissNotification()" (mouseover)="dismissNotification()" *ngIf="displayNotification">

<button *ngIf="mapUrls.length > 1" class="fab" mat-fab color="primary" (click)="bumpMapIndex()">
  <mat-icon>donut_small</mat-icon>
</button>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav-fixed" mode="side" position="end">
    <app-star-info
      [starInfo]="activeStar">
    </app-star-info>
  </mat-drawer>

  <pan-zoom [config]="panZoomConfig">
    <div style="position: relative;">

      <img src="{{mapUrls[mapIndex]}}" width="2400" height="2400" usemap="#starmap">    
      <map name="starmap">
        <area *ngFor="let star of allStars" shape="rect" coords="{{star.xStart}}, {{star.yStart}}, {{star.xEnd}}, {{star.yEnd}}" alt="{{star.name}}" (click)="openDrawer(star.name)">
        <area shape="rect" coords="0,0,2400,2400" (click)="closeDrawer()"> 
      </map>
    </div>
  </pan-zoom>
  
</mat-drawer-container>
